@import "tailwindcss";
@source "./app/**/*.html";
@source "./app/**/*.ts";


@theme {
  --color-navy: #080E1E;
  --color-cian: #22D3EE;
}

body {
  background-color: var(--color-navy);
  color: white;
}
